* text=auto
*.cs text diff=csharp
*.unity text merge=unityyamlmerge eol=lf
*.prefab text merge=unityyamlmerge eol=lf
*.asset text merge=unityyamlmerge eol=lf
*.meta text eol=lf
*.png binary
*.jpg binary
*.psd binary
*.wav binary
*.mp3 binary
*.ogg binary
